---
layout: base.html
title: Blog
pagination:
  data: collections.posts
  size: 10
  alias: posts
  reverse: true
permalink: "/blog/{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber }}/{% endif %}"
---

<h1>All Posts</h1>

<!-- Topics (tags) -->
{% if collections.tags %}
  <div class="topics">
    Topics:
    {% for tag in collections.tags %}
      <a href="{{ tag.url }}" class="sm-button">{{ tag.name }}</a>
    {% endfor %}
  </div>
{% endif %}

<!-- Search (Pagefind) START -->
<link href="/pagefind/pagefind-ui.css" rel="stylesheet">
<script src="/pagefind/pagefind-ui.js"></script>

<div id="search"></div>

<script>
  window.addEventListener('DOMContentLoaded', () => {
    new PagefindUI({ element: "#search" });
  });
</script>
<!-- Search (Pagefind) END -->

<section class="post-grid">
  {% assign sortedPosts = posts | reverse %}

  {% for post in sortedPosts %}
    <article class="post-card">
  <a href="{{ post.url }}">
    <div class="post-card-image">
      {% if post.data.image %}
        <img src="{{ post.data.image }}" alt="{{ post.data.title }}">
      {% else %}
      {% endif %}
    </div>
    <h2>{{ post.data.title }}</h2>
  </a>
</article>
  {% endfor %}
</section>

{% if pagination.href.next %}
  <a href="{{ pagination.href.next }}" class="load-more-button button">Load More Posts</a>
{% endif %}