---
layout: base.njk
title: Home
description: This is the description area.
hero_title: This is the hero title.
hero_subtitle: This is the subtitle.
image: ''
pagination:
  data: collections.posts
  size: 6
  alias: posts
  reverse: true
---

<section class="hero is-medium is-link has-background-primary" style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('{{ image | url }}') center / cover no-repeat;">
  <div class="hero-body has-text-centered">
    <div class="container">
      <p class="title is-1">
        {{ hero_title | default("Welcome to my Site") }}
      </p>
      <p class="subtitle is-3">
        {{ hero_subtitle | default("Check out my latest posts below.") }}
      </p>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <h2 class="title is-2">Latest Posts</h2>

    <div class="columns is-multiline">
      {% if posts and posts.length %}
        {% set sortedPosts = posts %}
        {% for post in sortedPosts %}
          <div class="column is-12-mobile is-6-tablet is-4-desktop">
            <a href="{{ post.url | url }}">
              <div class="card post-card-hover is-clipped">
                <div class="card-image">
                {% if post.data.image %}
                  <figure class="image is-16by9">
                    <img src="{{ post.data.image | url }}" alt="{{ post.data.title }}" style="object-fit: cover;">
                  </figure>
                {% else %}
                  <div class="has-background-primary is-16by9" style="display: block; position: relative; aspect-ratio: 16 / 9;">
                    <div class="is-overlay is-flex is-align-items-center is-justify-content-center">
                      <span class="has-text-white is-size-1">
                          <i class="fas fa-file-alt"></i> </span>
                    </div>
                  </div>
                {% endif %}
                </div>
                <div class="card-content">
                  <p class="title is-5">{{ post.data.title }}</p>
                </div>
              </div>
            </a>
          </div>
        {% endfor %}
      {% else %}
        <div class="column is-12">
          <p>No posts found.</p>
        </div>
      {% endif %}
    </div>
  </div>
</section>
