---
layout: base.njk
permalink: "/{{ page.fileSlug }}/"
---
<section class="hero is-medium is-link has-background-primary" style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('{{ image | url }}') center / cover no-repeat;">
  <div class="hero-body has-text-centered">
    <div class="container">
      <p class="title is-1">{{ title }}</p>
    </div>
  </div>
</section>
  
<main class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-8-desktop is-7-widescreen is-10-tablet">
        
        <div class="content">
          {{ content | safe }}
        </div>

      </div>
    </div>
  </div>
</main>